In [1]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt 
import seaborn as sns
df=pd.read_excel(r"D:\DATA SCIENCE BY NIT\super market data\presentation.xlsx") 
df.head(20)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Sales,Date,Payment,cogs,gross margin percentage,gross income,Rating,Total_sells_price
0,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,Ewallet,522.83,4.761905,26.1415,9.1,575.113
1,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,Cash,76.40,4.761905,3.8200,9.6,84.040
2,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,Credit card,324.31,4.761905,16.2155,7.4,356.741
3,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,Ewallet,465.76,4.761905,23.2880,8.4,512.336
4,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,Ewallet,604.17,4.761905,30.2085,5.3,664.587
5,Giza,Naypyitaw,Member,Female,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,Ewallet,597.73,4.761905,29.8865,4.1,657.503
6,Alex,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,Ewallet,413.04,4.761905,20.6520,5.8,454.344
7,Giza,Naypyitaw,Member,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,Ewallet,735.60,4.761905,36.7800,8.0,809.160
8,Alex,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,Credit card,72.52,4.761905,3.6260,7.2,79.772
9,Cairo,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,Credit card,164.52,4.761905,8.2260,5.9,180.972
10,Cairo,Mandalay,Member,Female,Fashion accessories,14.48,4,2.8960,60.8160,2/6/2019,Ewallet,57.92,4.761905,2.8960,4.5,63.712
11,Cairo,Mandalay,Member,Female,Electronic accessories,25.51,4,5.1020,107.1420,3/9/2019,Cash,102.04,4.761905,5.1020,6.8,112.244
12,Alex,Yangon,Member,Female,Electronic accessories,46.95,5,11.7375,246.4875,2/12/2019,Ewallet,234.75,4.761905,11.7375,7.1,258.225
13,Alex,Yangon,Member,Female,Food and beverages,43.19,10,21.5950,453.4950,2/7/2019,Ewallet,431.90,4.761905,21.5950,8.2,475.090
14,Alex,Yangon,Member,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,Cash,713.80,4.761905,35.6900,5.7,785.180
15,Cairo,Mandalay,Member,Female,Sports and travel,93.72,6,28.1160,590.4360,1/15/2019,Cash,562.32,4.761905,28.1160,4.5,618.552
16,Alex,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,Credit card,482.51,4.761905,24.1255,4.6,530.761
17,Alex,Yangon,Member,Female,Sports and travel,72.61,6,21.7830,457.4430,1/1/2019,Credit card,435.66,4.761905,21.7830,6.9,479.226
18,Alex,Yangon,Member,Female,Food and beverages,54.67,3,8.2005,172.2105,1/21/2019,Credit card,164.01,4.761905,8.2005,8.6,180.411
19,Cairo,Mandalay,Member,Female,Home and lifestyle,40.30,2,4.0300,84.6300,3/11/2019,Ewallet,80.60,4.761905,4.0300,4.4,88.660

DATA UNDERSTANDING

In [ ]:
df.info()

DATA EXPLORATION

In [ ]:
 # returns basic statistics info on numeric columns :-
df.describe().T

In [ ]:
# reurns datatype of each column   
df.dtypes

In [ ]:
# Returns if there any null value or not :-
df.isnull().any()
 # or 
df.isnull().sum()

# DATA VISUALIZATION :-

In [ ]:
# visualization of Unit price   column data feature 

feature_Unit_price =plt.hist(df["Unit price"],bins=100)
plt.title("distribution of QUnit price")
plt.xlabel("Unit price")
plt.ylabel("COUNT")
plt.show()





# plt.title('Relationship Between Quantity and Unit Price')
# plt.xlabel('Quantity')
# plt.ylabel('Unit Price')
# plt.xticks(Quantity)  # Set x-ticks to be the quantity values
# plt.yticks(Unit price)  # Set y-ticks for better visibility
# plt.grid()
# plt.legend()
# plt.show()

In [ ]:
# visualization of Quantity   column data feature 

feature_Unit_price =plt.hist(df["Quantity"],bins=100)
plt.title("distribution of Quantity")
plt.xlabel("Quantity")
plt.ylabel("COUNT")
plt.show()

# DATA CLEANING & PREPROCESSING :

In [ ]:
df.head()

In [ ]:
df["Branch"].unique()                       # checking unique values in this column

In [ ]:
df["Branch"].isnull().sum()                 # checking is there any null value or not

In [ ]:
df["City"].unique()

In [ ]:
df["City"].isnull().sum()

In [ ]:
df["Customer type"].unique()

In [ ]:
df["Customer type"].isnull().sum()

In [ ]:
df["Date"].unique()

In [ ]:
df["Date"].isnull().sum()

In [ ]:
df["Gender"].unique()

In [ ]:
df["Payment"].unique()     # used unique() function for discrete categorical

In [ ]:
df["Product line"].unique()

In [ ]:
df["Quantity"].value_counts()    # for count variable used value_counts()

In [ ]:
df["Rating"].describe()

In [ ]:
df["Rating"].value_counts()

In [ ]:
df["Sales"].describe()

In [ ]:
df["Sales"].value_counts()

In [ ]:
df["Tax 5%"].describe()

In [ ]:
df["Tax 5%"].value_counts()

In [ ]:
df["Time"].unique()

In [ ]:
df["Unit price"].describe()

In [ ]:
df["Unit price"].value_counts()

In [ ]:
df["cogs"].describe()

In [ ]:
df["cogs"].value_counts()

In [ ]:
df["gross income"].describe()

In [ ]:
df["gross income"].value_counts()

In [ ]:
df["gross margin percentage"].describe()

In [ ]:
df["gross margin percentage"].value_counts()

In [ ]:
df.head(5)

# Feature Engineering :

In [ ]:
df=df.drop(columns=["Invoice ID","Time"])
df.head(5)

In [ ]:
df["Total_sells_price"]=df["Unit price"]*df["Quantity"]+df["Tax 5%"]+df["gross income"]

In [ ]:
continous=["Unit price","Tax 5%","Sales","cogs","gross margin percentage","gross income","Rating","Total_sells_price"] # for continous variable apply describe() function .
Discrete_categorical = ["Branch","City","Customer type","Gender","Product line","Date","Payment"]                      # for categorical variable apply unique() function . 
Discrete_count=["Quantity"]                                                                                            # for count variable apply value_counts() function .

In [ ]:


# Generating sample data for demonstration
np.random.seed(0)
data = {
    "Unit price": np.random.uniform(5, 15, 100),
    "Tax 5%": np.random.uniform(0.5, 2, 100),
    "Sales": np.random.uniform(20, 100, 100),
    "cogs": np.random.uniform(5, 50, 100),
    "gross margin percentage": np.random.uniform(0, 20, 100),
    "gross income": np.random.uniform(10, 60, 100),
    "Rating": np.random.uniform(1, 5, 100),
    "Total_sells_pric": np.random.uniform(100, 500, 100)
}
df = pd.DataFrame(data)

# List of continuous columns
columns = ["Unit price", "Tax 5%", "Sales", "cogs", "gross margin percentage", 
           "gross income", "Rating", "Total_sells_pric"]

# Set the plotting style
sns.set(style="whitegrid")

# --- 1. Histograms ---
plt.figure(figsize=(14, 10))

for i, column in enumerate(columns, 1):
    plt.subplot(2, 4, i)  # 2 rows, 4 columns
    sns.histplot(df[column], kde=True, color='skyblue')  # KDE for smooth curve
    plt.title(f'Histogram of {column}')

plt.tight_layout()
plt.show()

# --- 2. Box Plots ---
plt.figure(figsize=(14, 10))

for i, column in enumerate(columns, 1):
    plt.subplot(2, 4, i)
    sns.boxplot(x=df[column], color='lightcoral')
    plt.title(f'Box Plot of {column}')

plt.tight_layout()
plt.show()

# --- 3. Pair Plot ---
sns.pairplot(df[columns])
plt.suptitle('Pairplot of Continuous Variables', y=1.02)
plt.show()

# --- 4. Correlation Heatmap ---
correlation_matrix = df[columns].corr()

plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)
plt.title('Correlation Heatmap')
plt.show()

# --- 5. Scatter Plot (Example: Unit Price vs Sales) ---
plt.figure(figsize=(10, 6))
sns.scatterplot(x=df['Unit price'], y=df['Sales'], color='purple')
plt.title('Unit Price vs Sales')
plt.xlabel('Unit Price')
plt.ylabel('Sales')
plt.show()

# --- 6. Violin Plots ---
plt.figure(figsize=(14, 10))

for i, column in enumerate(columns, 1):
    plt.subplot(2, 4, i)
    sns.violinplot(x=df[column], color='lightgreen')
    plt.title(f'Violin Plot of {column}')

plt.tight_layout()
plt.show()

# Exploratory Data Analysis (EDA):

In [ ]:
df[Discrete_count].describe()

In [ ]:
df[continous].describe()   # for continous variable used describe()

In [ ]:
df[continous].skew()

In [ ]:
df[Discrete_categorical].describe()

In [ ]:
df.head()

- comparing all the categories with test results to understand the overall data .

In [ ]:


print("impact of Branches on Total_sells_price ")
(pd.crosstab(df["Branch"],df["Total_sells_price"]))

In [ ]:
print("impact of  City on Total_sells_price ")
pd.crosstab(df["City"],df["Total_sells_price"])

In [ ]:
print("impact of  Customer type	 on Total_sells_price ")
pd.crosstab(df["Customer type"],df["Total_sells_price"])

In [ ]:
print("impact of Gender on Total_sells_price ")
pd.crosstab(df["Gender"],df["Total_sells_price"])

In [ ]:
print("impact of Product line on Total_sells_price")
pd.crosstab(df["Product line"],df["Total_sells_price"])

In [ ]:
print("impact of Unit price on Total_sells_price")
pd.crosstab(df["Unit price"],df["Total_sells_price"])

In [ ]:
print("impact of Quantity on Total_sells_price")
pd.crosstab(df["Quantity"],df["Total_sells_price"])

In [ ]:
print("impact of Tax 5% on Total_sells_price")
pd.crosstab(df["Tax 5%"],df["Total_sells_price"])

In [ ]:
print("impact of Sales on Total sales price ")
pd.crosstab(df["Sales"],df["Total_sells_price"])